* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #2020c0;
  opacity: 0.8;
  border-radius: 0.5rem;
}

button {
  height: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  border-color: #908392;
  background-color: #141492;
  color: white;
  font-weight: 900;
}

button:hover {
  height: 2.5em;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.input-todo,
button {
  min-width: 60%;
  max-width: 75%;
  margin-top: 1rem;
}

.input-todo {
  height: 2rem;
  border-radius: 0.5rem;
  border-style: none;
}

li {
  margin: 0.5rem 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

li:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .container {
    font-size: 2rem;
    margin: 10vh auto;
    max-width: 90vh;
  }
  .input-todo,
  button {
    max-width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 100vh;
  }
  .input-todo,
  button {
    width: 150%;
  }
}
